@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

html {
    width: 1440px;
}

header {
    background: url("assets/img/cover.jpg");
    background-repeat: no-repeat;
    background-color: #252B42;
}
  
.navigation {
    display: flex;
    align-items: center;
    width: 1350px;
    height: 104px;
    margin: 0 auto;
}
  
.brand {
    width: 187px;
    height: 32px;
    text-align: left;
    margin-left: 150px;
}
  
.brand h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
  
.menu {
    display: flex;
    justify-content: space-around;
    margin-left: 548px;
    margin-right: 30px;
    width: 670px;
    height: 24px;
}
  
.menu a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
  
#search {
    margin-right: 22px;
    margin-top: 5px;
}
  
#basket {
    margin-right: 139px;
    margin-top: 5px;
}
  
#toggler {
    margin-right: 15px;
    margin-top: 5px;
}
  
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    text-align: left;
    margin: 80px 0px 0px 198px;
}
  
.title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
  
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 100px;
    text-align: left;
    margin: 55px 0px 0px 197px;
}
  
.intro h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
  